@page
@model BlogPost.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="py-2 text-center ">
    <h2 class="m-0">You are unauthorized to access this page!!</h2>
</div>
